<button type="button" (click)="refresh()">Refresh</button>
<button type="button" (click)="generate()">Generate</button>
<p>Suggested machines</p>
<p></p>
<h2 class="content-block">Tasks</h2>

<dx-data-grid class="dx-card wide-card"
  [dataSource]="machines"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="100"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="name"
    [width]="200"
    [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="partition"
    [width]="200"
    caption="Partition"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="state"
    [width]="200"
    caption="State"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
  dataField="cpus"
  [width]="200"
  caption="CPUs"
  [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="cpuLoad"
    [width]="200"
    caption="CPU Loads"
    [hidingPriority]="8">
  </dxi-column>
</dx-data-grid>
